/* App globally handled by index.css but we can add specific App-level things here */
.main-content {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}